.component{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    border:3px solid rgb(145, 145, 145);
    border-radius: 8px;
    padding:15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1 4px 6px;
    color:rgb(255, 255, 255);
    margin:5%;
}

.content img{
    max-width: 100%;
    max-height: 100%;
}

body{
    background: linear-gradient(to right,rgb(70, 70, 70),rgb(12, 12, 12),rgb(70, 70, 70));
    color:white;
    padding-left: 15px;
    padding-right: 15px;
}

.container2{
    border:3px solid rgb(145, 145, 145);
    border-radius: 8px;
    padding:15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1 4px 6px;
    color:rgb(255, 255, 255);
    margin:5%;
}

h1{   
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

